[2013-01-27 16:05] stdweird opened #7 "generaloption autocompletion"
look at http://furius.ca/optcomplete/ to provide shell autocompletion for generaloption

[2013-01-30 10:36] JensTimmerman opened #8 "startlogdaemon is now shipped as a script but it is an example"
the startlogdaemon.sh and logdaemon.py are shipped as bin scripts
but they are examples, since they can not be run in this form.

[2013-01-30 15:33] JensTimmerman opened #11 "generaloption should have a simple default implementation"
To use all the powers of generaloption you currently need to define a class and implement some functions.
(it is stull usefull, some very usefull powers are already working if you just use ExtOptionParser instead of the default optionparser)

However, this is too complicated for simple scripts.
Generaloption should provide a default implementation which you only need to provide with a dictionary w

[2013-02-12 13:28] #11 closed, assigned to nobody

[2013-02-12 16:22] piojo-zz opened #19 "Tests are broken in jenkins"
The code used for some tests works on Python 2.7 but not on 2.6.

[2013-02-13 11:07] #19 closed, assigned to boegel

[2013-02-15 13:29] boegel opened #23 "get rid of paycheck"
paycheck is not compatible with Python 2.4, which breaks the unit tests on Python 2.4, see https://jenkins1.ugent.be/job/vsc-base-python24/3/console

We should get rid of paycheck all together, since it adds little value.

[2013-03-11 12:23] itkovian opened #34 "Allow multiple sections in the generaloption config files"
It would be quite handy to allow more than the MAIN section, since that's a bit limiting, e.g., when we need different settings on a per-item basis.

This would allow something like

[code]

So we can avoid the need for dicts. For now.

[2013-03-27 09:19] itkovian opened #47 "Default configfile"
It would be handy if a configfile can be set by default, e.g., in /etc/myapp.conf such that it should not be provided on the command line unless its location differs.

[2013-04-25 18:36] stdweird opened #57 "vsc.__init__ depends on setuptools"
the import pkg_resources in vsc.**init** comes from setuptools, this has to be added to the dependencies in setup.py somehow so proper rpms are being build

[2013-04-29 09:35] #57 closed, assigned to nobody

[2013-06-12 14:36] JensTimmerman opened #69 "configfiles should work with easy_install --user and for rpm's be in /etc"
Currently we can not make config files to be installed in /etc with the build rpm, and
still allow easy_install --user to work.
I propose adding a config_files section to the setup method, as described here
http://stackoverflow.com/questions/3325606/how-to-handle-configuration-files-with-distutils-to-respect-unixens-fhs

This should be used to fix the situation we had here https://github.ugent.be/

[2013-06-27 19:11] piojo-zz opened #73 "Jenkins jobs fail"
Things to consider in our Jenkins environment:

[code]

Also, `vsc.utils.cache` is now gone?  Remove its test.

And investigate Python 2.4.

[2013-11-05 13:04] #23 closed, assigned to itkovian

[2013-11-27 14:11] boegel opened #92 "feature request: add cmdline option to generate template config file"
It would be nice if generaloption provided a command line option like `--generate-config-file-template` to generate a template config file, included correct sections, comment lines with help text, and default values or commented out lines where appropriate.

A partial example (for EasyBuild):

[code]

[2013-11-27 14:16] boegel opened #93 "enabling debug logging in config file doesn't work"
Trying to enable debug logging in a config file for generaloption yields this:

[code]

This parsing issue can be fixed by the following patch:

[code]

But, even with that in place, debug logging still can't be enabled by specifying so in the configuration file, it's simply ignored (while other settings are correctly picked up).

Attempted variants (all fail to be adhered to):

[code]

[code]

[c

[2013-11-28 20:23] #93 closed, assigned to stdweird

[2013-11-28 20:25] #73 closed, assigned to JensTimmerman

[2013-11-28 20:26] #34 closed, assigned to stdweird

[2013-11-28 20:27] #7 closed, assigned to nobody

[2013-12-07 16:43] #92 closed, assigned to stdweird

[2013-12-07 16:45] stdweird opened #97 "Deal with missing bash functions for optcomplete"
It seems that optcomplete assumes proper environment or bash version 4.2 or later.
A minimal set of bash completion fucntions is needed to make it work.

This set was taken from a GPLv2 project, so i'm unlcear if it can be shipped with vsc-base.

[2013-12-17 16:39] #97 closed, assigned to nobody

[2013-12-17 16:41] boegel opened #99 "figure out a better way to ship optcomplete.bash"
right now, `optcomplete.bash` is installed as a script to `bin`, which could be done better

it should probably end up in `share`, but using `data_files` for this makes it end up in `share` inside the `.egg` directory (see also https://github.com/hpcugent/easybuild-framework/pull/797)

we need to figure out how to make it land in a better location that `bin`...

[2014-02-24 08:34] boegel opened #106 "TypeError thrown in cleanup of fancylogger on SuSE"
The error message below occurs whenever a Python session is being terminated on a SuSE system (e.g.  and fancylogger was used:

[code]

This problem occurs on e.g.:

[code]

The message is (mostly) harmless, as it doesn't seem to break anything

[2014-03-07 14:37] ehiggs opened #108 "fancylogger"
In order to make fancylogger print the classname of a function we must make a logger part of the object. This is bad since it breaks single-responsibility rules and couples logging to the class when it should just use whatever logger has been setup by the program.

Therefore we would like fancylogger to be able to handle %(className)s as a format specifier. With this we can continue printing class

[2014-03-14 15:16] #108 closed, assigned to nobody

[2014-04-21 12:04] stdweird opened #117 "simple_option usage has issues with UTF8"

[2014-05-16 14:00] boegel opened #120 "UTF8 coding issue with debug log message"
I ran into this when testing https://github.com/hpcugent/easybuild-easyconfigs/pull/759

[code]

[2014-05-21 12:28] #120 closed, assigned to nobody

[2014-06-19 11:33] JensTimmerman opened #125 "generaltoption with extra arguments"
https://github.com/hpcugent/vsc-base/blob/master/lib/vsc/utils/generaloption.py#L974
shouldn't this be >0 ?

because now when using simple_option

`bla x`
gives me an optionparser.args == ['x']
but
`bla x y`
gives me the error in the next line.

[2014-07-04 14:49] itkovian opened #128 "Handle moved permanently return values in the rest client"
Would it be possible to automagically go to the new address and retry the request there?

[2014-07-08 12:51] itkovian opened #129 "import of _bdist_rpm may be broken with more recent setuptools"
See here: https://github.com/jaraco/setuptools/commit/573c2c86d4d4f506a87a1fc16060f32c1386ad38

We import _bdist_rpm from setuptools in the shared_setup.py, which really is the bdist_rpm from distils. The above commit changes imported names and thus will break shared_setup.py.

[2014-08-01 07:42] boegel opened #132 "supported extend rather than overwrite for list-typed config options"
cfr. https://github.com/hpcugent/easybuild-framework/issues/985

When values for the `--robot` option are passed via the different 'levels' (config file, environment, cmdline), currently the command line wins: any list of paths specified in a config file are being overwritten when `--robot` is used without specifying an argument.

It would be nicer if that didn't happen, and if paths specified on

[2014-08-13 09:41] #129 closed, assigned to nobody

[2015-01-14 12:24] boegel opened #152 "shell_quote doesn't escape '$', '(', ')' which have a special meaning in shell"
This may lead to errors like `syntax error near unexpected token(` when the obtained quoted value is passed as a token in a shell command.

[2015-01-14 12:24] boegel commented on #152
PR that attempts to fix this at #151

[2015-03-11 16:06] boegel opened #161 "feature request: support openpathlist for option type"
`openpathlist` option type as an alternative to the existing `pathlist` option type, which allows prepending/appending rather than always overwriting

export EASYBUILD_ROBOT_PATHS=:/custom  # append to existing value
export EASYBUILD_ROBOT_PATHS=/custom:  # prepend to existing value
export EASYBUILD_ROBOT_PATHS=/custom  # overwrite existing value (like for 'pathlist'-typed option)

Would be useful

[2015-03-22 09:45] stdweird commented on #132
@boegel i'd rather not support this. commandline precedes environment preceds configfile is a very simple principle i'd rather not divert from.

[2015-04-02 13:25] boegel commented on #161
fixed in #162, closing this

[2015-04-02 13:25] #161 closed

[2015-04-07 07:55] boegel commented on #132
alternative implemented via #162

[2015-04-07 07:55] #132 closed

[2015-05-08 20:02] opoplawski opened #172 "Cannot build fedora rpm - setup.py cleans up build"
The canonical way python rpms are made in Fedora is:
[code]
This breaks with vsc-base because the first thing the install line does is cleanup the build:
[code]
I can workaround by dropping --skip-build, but it would be nice if this was supported.

[2015-05-08 20:49] stdweird commented on #172
@opoplawski #173 should fix this

[2015-05-10 19:30] boegel commented on #172
@opoplawski: just out of curiosity: why the interest in packaging `vsc-base`? Is this related to packaging EasyBuild, by any chance?

[2015-05-11 11:40] #172 closed

[2015-05-11 11:41] boegel commented on #172
@opoplawski should be fixed in vsc-base v2.2.1, via #173, please give it a shot

[2015-05-11 20:34] opoplawski commented on #172
#173 does seem to fix it.  Yes, I'm looking at packaging EasyBuild.

[2015-05-11 20:40] boegel commented on #172
@JensTimmerman was also looking into this a while ago, not sure how far he got in the process...

[2015-05-12 10:28] JensTimmerman commented on #172
I didn't get to the canonical  Fedora way yet,

Creating rpm's out of EasyBuild isn't the hard part, getting through all of Fedora's guidelines, approval's, registration on koji,  finding a sponsor for your package etc, is what took me most time.
I have created and working source rpm's, but then stumbled on some configuration issues for EasyBuild, which were fixed in 2.0 I believe.
You can find my

[2015-05-13 19:27] stdweird opened #175 "auto encoding / compression of logfiles based on log file extension"
should be able to set encoding to `zlib` or `bz2` when the logger logs to files with extension `gz` or `bz2`

[2015-05-14 08:03] boegel commented on #175
better use `zlib`, since `bz2` is not considered a valid encoding anymore in Py3 (according to http://www.ciiycode.com/0yBmNexXePPU/python-want-logging-with-log-rotation-and-compression)

yes, dafuq

[2015-05-20 21:22] itkovian opened #176 "Logging to syslog is not using the correct location on OSX"
Right now, address = '/dev/log', which works on Linux. However, e.g., OSX requires this to be '/var/run/syslog'.

[code]

- Either add this as an option and make '/dev/log' the default or if syslog is actually listening on the right port, just use the default address, ('localhost', 514), but I suppose this is not on by default.

[2015-07-16 12:40] itkovian opened #179 "Multiple GeneralOption instances may have conflicts HPC-5407"
- They can have different option sets
- The second one currently still sees the options from the first one also sees and thus borks, because it does not recognise them

Maybe processed options should be removed.

[2015-07-16 12:43] stdweird commented on #179
until this gets resolved in a nother way, you can do
[code]

then by setting environment variables `OTHER_OPTIONS_YADDA_YADDA=1` you can pass things to `OtherOptions`

[2015-08-07 07:50] Caylo opened #181 "Alias --shorthelp and --confighelp on --help=short and --help=config"
In generaloption, both `--shorthelp` and `--confighelp` should be converted to be an alias of `--help=short` resp.  `--help=config` . At the moment they both exist as separate options.

[2015-08-14 11:47] wpoely86 opened #183 "filename is None?"
Using 443a2276b926c8ff6fa on Debian 8.
[code]

[2015-08-14 12:19] stdweird commented on #183
hmm, i guess the error is ok, but not what raises it :smile:

[2015-08-14 12:40] boegel commented on #183
@stdweird: Well, it seems like `filename` is `None` somehow, I guess fancylogger could/should check that and either act on it or report a more sensible error?

Figuring out *why* it is `None` is also important though. This looks quite similar to https://github.com/hpcugent/easybuild-framework/pull/1298, but that fix is included in the EB version being used here.

[2015-08-14 13:56] stdweird commented on #183
the why is not relevant here, you shouldn't pass non-sensical data in the first place. from the stacktrace, i assume it's EB that passes the `None`.

but `logToFile` should also check for more then `None`. also empty strings aren't valid filenames. probably a simple

[code]
at the top of the method is enough i guess.

[2015-08-17 19:21] boegel opened #184 "options with 'store' action consume other options as values"
see https://github.com/hpcugent/easybuild/issues/113

[2015-08-18 06:11] stdweird commented on #184
so the issue is that the option parser should reject values that are valid options? and throw what error in this case? (and how would you like to pass the value `-D` to the option `-b`?)

[2015-08-18 06:20] boegel commented on #184
If `-D` is not considered a valid value for `-b`, then the error `'missing argument'` needs to be thrown, since `-b` requires an argument (since it's a `store` action).

I'm not sure if it's possible to discriminate, but I guess `-b=-D` would be acceptable, since that's not ambiguous.

[2015-08-18 06:28] stdweird commented on #184
makes sense. the error could make this clearer like `missing argument: trying to pass valid option -D is not allowed (use -b=-D instead)`, but i don't know if i can distinguish between `-b -D` and `-b=-D`.

[2015-08-18 06:35] boegel commented on #184
I'm sure you meant to say "I'm not sure how yet to distuingish between `-b -D` and `-b=-D`, but I can figure out a dirty hack" ;-)

[2015-08-18 06:49] stdweird commented on #184
reading the code, the shortoptions seem to have `-bVALUE` instead of `-b=VALUE`. only the longopts have `--longopt=VALUE`. raising the error should be trivial however.

[2015-08-18 06:54] boegel commented on #184
Well, if we can mention "use `--only-blocks=-D` instead" when someone is trying to use `-b -D`, I'm all for it.

[2015-08-18 06:57] stdweird commented on #184
hmm, it's a tiny bit more complicated then i tought, since this is only an issue on the commandline.

[2015-08-18 07:09] stdweird commented on #184
if using the longopt only (even when the commandline was shortopt) to force the option-as-value is acceptable, that might make things a bit simpler.

[2015-08-18 07:12] boegel commented on #184
You mean, only support `--only-blocks=-D` (but not the equivalent of `-b=-D`)? Sure, works for me.

[2015-08-18 07:43] ehiggs commented on #184
How does this work for store_int given `-D -7`

[2015-08-18 07:45] boegel commented on #184
@ehiggs: nice one :-)
I guess we'll need to make (another) exception for `store_int` (or maybe none at all, and just let it complain that `-x` is not a valid integer)?

[2015-08-18 08:05] stdweird commented on #184
how is `-7` a valid option?

[2015-08-18 08:06] boegel commented on #184
Well, it can be both a valid option (if you're crazy enough to use `-7` as a short option for `--seven`), and a valid value (for a `store_int` option), I guess.

[2015-08-18 08:08] stdweird commented on #184
well, you'll have to set `-x-7` or `--longx=-7` then

[2015-08-18 08:08] ehiggs commented on #184
-4, -6:

[code]

[2015-08-18 08:09] boegel commented on #184
works for me, bet passing negative integers as a value is going to be rare enough; we don't need to do anything special to support something like `-7` as an option afaik

[2015-09-21 15:12] boegel opened #190 "failing tests when installed as zipped eggs"
This is mostly a reminder for myself, I'll look into figuring these out.

[code]

[code]

[2015-09-21 16:59] boegel commented on #190
follow-up in #191

[2015-09-21 16:59] #190 closed

[2015-09-26 08:07] itkovian opened #192 "Add `python setup.py test` lib shim custom command."
See https://github.ugent.be/hpcugent/clusterbuildrpm-server/pull/18

[2015-09-26 08:15] stdweird commented on #192
the trickery should be extended to only run certain tests via a filter set in enviroment, eg.
[code]
should only run tests which match `PTEST` (inlcuding the test methods and modules)
afaik, there's no clean way to do that now.

[2015-09-26 08:19] boegel commented on #192
I'm not very comfortable with the term 'trickery' in all of this...

If we need to hack in nasty stuff to make things work, we're probably doing something wrong?

[2015-10-08 09:40] stdweird opened #194 "need to move vsc.install to its own repo"
any objections? the repo could also hold wrppers for running the jenkins unittests, whihc are unreviewed and look funny

[2015-10-08 09:40] stdweird commented on #194
@JensTimmerman @boegel toughts?

[2015-10-08 09:46] boegel commented on #194
I don't see the big advantage of fleshing it out into a separate repo/pkg, introducing our own dependency in vsc-base just so we can install/test it is weird?

Adding scripts for the Jenkins unit tests here still makes sense though.

[2015-10-08 09:49] stdweird commented on #194
here's a good reason: https://github.com/stdweird/vsc-base/commit/7cd32b5762a081fda027271418f1d3c673dbe52c (and some of it's implications you're probably not aware of)
the jenkins scripts should be part of vsc-base, should be the same script for anything that uses `vsc.install` (it's only a build dependency afterall)

[2015-10-08 12:01] boegel commented on #194
OK, I guess that is a good reason. And indeed, since it's only a build dependency for vsc-base, it's OK-ish (and will lead to a cleaner vsc-base repo/install).

So: +1 on fleshing out `vsc-install`.

This does imply having both `vsc-install` and `vsc-base` on PyPI (too) btw, since this affects the EB bootstrap procedure too (but things should work just fine, no changes should be needed there).

[2015-10-08 12:02] boegel commented on #194
@stdweird: What other implications are you referring to btw? Is there more going on that just making sure that `import vsc.install` works with that hack (which will no longer be needed if vsc-install is proper (build-only) dep).

[2015-10-09 06:41] stdweird opened #195 "vsc.install should support building branches in shared_setup"
E.g. set proper `download_url`, name the bdist results appropriately,...

[2015-10-09 09:04] #192 closed

[2015-10-09 11:27] boegel opened #197 "make vsc-base test suite pass under python -O"

[2015-10-10 11:18] #184 closed

[2015-10-12 11:51] boegel opened #200 "detection of option-as-value doesn't work with store_or_None options"
adding an extra test case to the existing `test_option_as_value` value demonstrates this:

[code]

@stdweird: for some reason unclear to me `is_value_a_commandline_option` gets `()` as value for th `value` parameter rather than the actual value being passed (`b` in this case), so the `option-as-value` goes undetected; however `b` does end up being assigned as the value for this option...

[2015-10-12 12:33] JensTimmerman commented on #194
how does this solve anything? Aren't you just moving the problem?
vsc.install will still depend on vsc.install to install, and as such the hack will still be needed in it's `setup.py` file?

[2015-10-12 12:36] stdweird commented on #194
yes, but only in that file and it will  be a build_requires for vsc-base (i mean it's ok to have the hack for vsc.install, but is a but to coarse for vsc-base)

[2015-10-12 14:59] JensTimmerman commented on #194
surely it will also be `install_requires` ? and as such will still be pulled in during installation?

[2015-10-12 15:06] stdweird commented on #194
only `build_reqiures`, why would you need `vsc.install` to run anything?

[2015-10-12 15:07] JensTimmerman commented on #194
installation requires it, you need it to run `python setup.py install .` in vsc-base

[2015-10-13 18:01] boegel opened #202 "installing vsc-base v2.4.2 fails with Python 2.7.10 due to known bug in distutils"
[code]

[2015-10-13 18:03] boegel commented on #202
This is a known issue/bug in Python, but was only patched for Python 3.x, see https://bugs.python.org/issue23114 .

Supposedly, using `from setuptools.dist import Distribution` very early to trigger the monkeypatching done by `setuptools` should be a workaround, but it doesn't seem to work; I tried including it in both `setup.py` and `vsc/install/shared_setup.py` as the first import, but that does

[2015-10-13 18:38] boegel commented on #202
I can only get it to work by patching the Python installation I'm using with this patch https://bugs.python.org/file37554/distutils_accomodate_distribution_ducktypes.patch (obtained via https://bugs.python.org/issue23102).

Can't seem to get it to work by patching `setup.py` or `vsc/install/shared_setup.py` in vsc-base... :(

[2015-10-15 08:06] stdweird commented on #202
is this 2.7.10 only? and how can i reproduce this (so i can debug it)?

[2015-10-15 08:11] boegel commented on #202
@wpoely86 tried reproducing it, but couldn't for some reason unclear to me.

It's not specific to Python 2.7.10 afaik, but to using a recent setuptools (one that does the monkey patching of `Distribution` in `distutils.dist`) to install `vsc-base` with.

Don't spend time on this for now, I've already spent some time on this and seem to be closing in on a fix, using an early import of `setuptools.d

[2015-10-19 12:08] boegel commented on #202
This only occurs with `python setup.py easy_install --prefix`, *not* with `easy_install --prefix` >_<

[2015-10-19 15:55] boegel opened #205 "spreading 'vsc' namespace across directories doesn't work with zipped eggs"
`pkgutil.extend_path` (used in all `vsc/__init__.py`s) doesn't work with zipped eggs

a patched version is available at https://github.com/NiklasRosenstein/localimport/commit/7c0b9ef96aac54f0b1fc53363e92e9257c78cd9d

[2015-10-19 17:48] stdweird commented on #205
we can ship `localimport` in vsc-base or vsc-install, can you make a PR that works?

[2015-10-19 19:16] boegel commented on #205
I'd like to understand why this is somehow not a problem if for example both `vsc-base` and `vsc-mympirun` are installed as zipped `.egg`s.

[2015-10-28 20:36] boegel opened #211 "--confighelp doesn't work correctly for options that are in a group that has a prefix"
cfr. https://github.com/hpcugent/easybuild-framework/issues/1331

[2015-11-09 13:37] boegel commented on #205
fixed with #212 by switching to `pkg_resources.declare_namespace`? @stdweird?

[2015-11-23 10:44] itkovian opened #214 "Tests fail locally due to path differences"
[code]

[2015-11-23 10:51] stdweird commented on #214
the regexp of the test should allow that raise comes from an egg.

[2015-11-23 11:26] #214 closed

[2016-02-03 14:59] gppezzi opened #216 "import from mpi4py is causing python to crash on login nodes"
The following mpi4py import on fancylogger is causing python to crash on login nodes (where we don't have a working MPI subsystem):
[code]
The author of mpi4py suggested a couple of workarounds, the first being to precede the import with:

[code]

This would fix the crash on the login nodes, but I suppose the following call to `MPI.COMM_WORLD.Get_rank()` would stop working on the compute nodes.

F

[2016-02-03 15:06] stdweird commented on #216
what is the error or exception that `Get_rank()` throws?

[2016-02-03 15:39] boegel commented on #216
@stdweird: it never gets that far, the `from mpi4py import MPI` makes Python crash (not with an exception, but a hard crash), like this:

[code]

We had similar problems with the QLogicMPI on gulpin waaaaaaay back.

[2016-02-03 15:43] stdweird commented on #216
the second solution seems to be clean, i'll make aquick patch for that

[2016-02-03 15:45] boegel commented on #216
Ah, sorry, I should've read the whole thing first...

If you call `Get_rank` with init'ing disabling, you get this (hard crash again):

[code]

[2016-02-05 09:32] gppezzi commented on #216
@stdweird I dont see how just applying the second solution will fix the problem, since python crashes at the import statement as showed by @boegel

let me know if you want me to do some testing

[2016-02-05 09:39] stdweird commented on #216
@gppezzi ah, i read your original post such that the second proposed solution was an actual solution. hmmm, what MPI is this? and what is mpi4py version?

[2016-02-05 09:59] stdweird commented on #216
@gppezzi hmm, so your setup is such using the `mpi4py` is broken but available, and you want us to handle that? for any other module, we would simply say "fix/rebuild your module" :smile:
i assume you can't just fix the underlying problem and that this is some site specific issue?

can you try
[code]

[2016-02-05 10:13] boegel commented on #216
@stdweird: the problem is that `import mpi4py` is triggering an `MPI_Init`, while it shouldn't be.

For some MPI libraries (like the Cray MPICH one, and the QLogicMPI we had on gulpin in the old days), this is a problem.

[2016-02-05 10:39] gppezzi commented on #216
@stdweird yes I can workaround this on my side, I was just reporting a bug that is triggered by loading vsc-base.

Even if the mpi subsystem is not enabled on login nodes, mpi4py all alone is not making python unusable, while if we load vsc-base, python crashes.

If you tell me that vsc-base is supposed only to work on compute nodes when mpi4py is available, it is fine for me I can redesign our py

[2016-02-05 11:30] stdweird commented on #216
@gppezzi use the current workaround on your loginnodes, i'll add a environment to disable loading/trying to load mpi4py when the provided module is available but unusable so you can set this in e.g. the profile of your loginnodes.
`vsc-base` will try to use `mpi4py` when it's available, clearly this is too agressive for your setup. (although i consider it a problem to have known broken modules ava

[2016-02-05 16:20] gppezzi commented on #216
@stdweird  it would be nice to have this option to set a variable to avoid loading mpi4py, thanks a lot for taking a look into this issue!

We have many other modules that are available on the login nodes and only actually work on the compute nodes, so you can consider our environment completely broken ;-)

[2016-02-10 11:05] #216 closed

[2016-02-11 16:12] boegel opened #220 "consider switching to setoptconf"
We should see if setoptconf is a viable alternative to generaloption, cfr. https://github.com/jayclassless/setoptconf.

It's not exactly actively maintained, nor does it have a community though...

[2016-02-19 22:11] boegel commented on #216
#217 adds support for picking up `$FANCYLOGGER_IGNORE_MPI4PY`, so EB should define that as `$FANCYLOGGER_IGNORE_MPI4PY=1`?

[2016-02-19 22:28] stdweird commented on #216
yes, EB could set it. but probably only @gppezzi should do this, but mpi4py for EB probably does not make much sense, so feel free to do it from EB. (it's a bit annoying you have to set it via the environment, didn't think about this use case).

[2016-02-20 08:33] boegel commented on #216
@stdweird: shall I look into a patch that supports another way of setting it, that makes more sense to control from EB?

[2016-02-20 11:11] stdweird commented on #216
sure, but i have no idea how, the current code is loaded on import. (well, not in a clean way).

[2016-05-18 14:37] boegel opened #229 "post() broken in vsc.utils.rest"
[code]

caused by change in #227

@JensTimmerman: I hate to say I told you so, but... I told you so; please fix, and add tests to avoid this from happening again

partial fix:
[code]

[2016-05-18 15:16] JensTimmerman commented on #229
fixed in https://github.com/hpcugent/vsc-base/pull/230

[2016-05-21 14:41] boegel commented on #229
#230 merged, so closing this

[2016-05-21 14:41] #229 closed

[2016-06-20 13:50] boegel opened #231 "start looking into making vsc-base Py3 compatible"
We can gradually make `vsc-install` complain about code that is not Py3-compatible.

@stdweird What did you have in mind here?

[2016-06-21 11:50] JensTimmerman commented on #231
we agreed into not starting to make our python code python3 compatible until we could remove python2.6 support.
but once we do remove python2.6 support, see
https://docs.python.org/3/howto/pyporting.html#the-short-explanation

however, we could already start to check on 'modern' python2 code (whithout being fully python3 compatible, but making it so that less changes will be needed in the future,

[2016-06-23 22:10] opoplawski opened #232 "No github tags/releases"
I see vsc-base 2.5.1 on pypi, but not in github.

[2016-07-13 16:20] boegel commented on #232
@opoplawski 2.5.1 is now also tagged here...

@stdweird, @JensTimmerman: can we somehow automate tagging when we release on PyPI, or at least make a script that complains?

[2016-07-13 17:36] stdweird commented on #232
if you do a `python setup.py vsc_release`, it prints the instructions
[code]
i now only run the last line to push to pypi, but we could also do the curl thingie (or even using pygithub)

[2016-07-13 18:47] opoplawski commented on #232
Thanks.

[2016-07-13 18:51] opoplawski commented on #232
Although I cannot build from that:
[code]

[2016-07-13 18:54] boegel commented on #232
@opoplawski Is there a particular reason you prefer building from GitHub rather than from PyPI?
The tarball that is uploaded to PyPI is indeed not the same as the 'raw' sources hosted on GitHub, it is pre-processed by `vsc-install`...

[2016-07-13 18:56] opoplawski commented on #232
The pypi sources do not contain the tests.

[2016-07-14 11:19] JensTimmerman commented on #232
@boegel yes, we can make jenkins do tags when master builds successfully and push to pipy aswell.
But there were people who liked doing int manually ( I don't know why?) so I didn't look into configuring this yet.

[2016-07-26 09:20] stdweird opened #233 "fancylogger raiseException support templaiting via args"
`raiseException("%s %s", "a", "b", Exception)` should do the right thing

[2016-07-26 09:20] stdweird commented on #233
@JensTimmerman toughts?

[2016-07-26 12:10] JensTimmerman commented on #233
personally I would want to remove the raiseException call alltogether. it's not the loggers work to raise exceptions, only to log them.

[2016-08-03 07:27] boegel commented on #232
@stdweird thoughts on included the tests in the releases on PyPI?

[2016-08-09 17:39] jgphpc opened #235 "broken README.md url"
Hi,

I believe there is a broken link in vsc-base/README.md :
- https://jenkins1.ugent.be/job/vsc-base-python26/Documentation/

[code]

[2016-08-09 17:41] jgphpc commented on #235
and also on http://hpcugent.github.io/ ,  the ```VSC-tools project page``` link is undefined.

[2016-09-02 11:23] boegel opened #236 "broken log.deprecated call in SimpleOption"
[code]

@stdweird: nice ;)

[2016-09-02 11:37] JensTimmerman commented on #236
can you please suply a bit more information?
like your pythonpath etc?
since I can't reproduce this
[code]

[2016-09-02 12:05] boegel commented on #236
nevermind, this is due to `log.deprecated` being redefined in `EasyBuildLog`, I'll fix it there

[2016-09-02 12:08] #236 closed

[2016-09-02 18:47] boegel commented on #236
fixed in https://github.com/hpcugent/easybuild-framework/pull/1896

[2016-09-05 18:39] boegel opened #237 "undefined go_columns breaks generaloption in headless mode"
[code]

cc @wpoely86

[2016-09-05 19:45] #237 closed

[2016-09-12 08:18] stdweird commented on #236
@boegel the reason the deprecation warning is added is because `descr` is completely ignored, you should also address that. we will only remove the named option, not any actual functionlaity (if we ever reach v3 :wink: )

[2016-10-11 08:43] boegel opened #241 "installing vsc-base 2.5.4 with 'setup.py easy_install' fails"
(this worked fine with vsc-base 2.5.1)

using PyPI sources

[code]

[2016-10-11 09:13] JensTimmerman commented on #241
this is an issue in vsc-install

[2016-10-11 09:13] #241 closed

[2016-10-26 11:39] Caylo opened #242 "RunFile only captures stdout, not stderr"

[2016-10-26 12:12] Caylo commented on #242
nvm

[2016-10-26 12:13] #242 closed

[2016-11-18 21:14] boegel opened #243 "installing vsc-base with easy_install (from PyPI) picks up vsc-install from GitHub (rather than PyPI)?"
I'm not 100% sure about this, but I see no other way in which `vsc-install` 0.10.20 was picked up during the EasyBuild bootstrap while it was not released yet on PyPI (it is now, since I published the latest `master` of `vsc-install` to deal with the issue), cfr. https://api.travis-ci.org/jobs/177114943/log.txt?deansi=true

@stdweird Is that intentional? Shouldn't packages published on PyPI be usi

[2016-11-18 21:16] boegel commented on #243
This seems to confirm my suspicion:

[code]

[2016-11-19 10:53] stdweird commented on #243
i'm not sure what is going on here, but i also don't see anything going wrong. i assume the bootstrap script assumed that whatever version was picked up by the vsc-base install, it should on pypi?

the installation will or should always use latest whatever is required. the `shared_setup` does not force a version as the dependency, and certainly not the version it was packaged with. but there are s

[2016-11-22 10:45] JensTimmerman commented on #243
this is because the vsc-base setup.py includes:
`  'setup_requires': ['vsc-install >= %s' % VSC_INSTALL_REQ_VERSION],`

this will prompt vsc-install (that you obviously already have, of you would never get to this part) to install the latest vsc-install, which it now can find on github.

I guess we should just remove this setup_requires, it's superfluous, since we can never get to it if we don't h

[2016-11-22 10:47] JensTimmerman commented on #243
if this is not the default behaviour you want we should also merge https://github.com/hpcugent/vsc-install/pull/61

[2016-11-22 12:55] JensTimmerman commented on #243
actually, this will make no difference at all, you still would need to have it in install_requires for the rpm's to work correctly, so it would still be pulled in

[2016-11-22 12:57] JensTimmerman commented on #243
so yes, ensuring latest master is always on pypi is a good idea and probably the best solution.
I guess we can let jenkins do this? If you all agree I can look into it.

[2016-12-10 15:08] boegel commented on #243
There are more problems with this: the auto-magic update to the latest `vsc-install` being pulled from GitHub implies a hard dependency on `git`, even though there's no real reason for it?

See https://github.com/hpcugent/easybuild-framework/issues/1962

[2016-12-13 11:52] JensTimmerman commented on #243
as mentioned above: this is because the vsc-base setup.py includes:
'setup_requires': ['vsc-install >= %s' % VSC_INSTALL_REQ_VERSION],`

remove the version there and this should work nicer.

[2016-12-13 12:01] JensTimmerman commented on #243
yes, this was a bug in setuptools, I've fixed this in https://github.com/pypa/setuptools/pull/609 so try using a newer setuptools.

so this ticket is just about agreeing that jenkins should always push to pypi, for which I haven't gotten a reply yet, do you agree there @boegel ? Or do you wish another solution?

[2016-12-13 12:05] boegel commented on #243
Auto-publishing to PyPI makes sense I guess, just as long as we make sure not to introduce regressions...

Publishing a broken release on PyPI has a bigger impact than just having it merged in `master`.

[2016-12-13 12:12] JensTimmerman commented on #243
ok, follow up in https://github.com/hpcugent/vsc-install/issues/63

[2016-12-13 12:12] #243 closed

[2016-12-14 08:36] boegel opened #244 "logging.debug/logging.info doesn't work as expected after importing fancylogger"
If the log level was set to debug (via `--debug` in a `GeneralOption` option parser), log messages emitted via `logging.debug` or `logging.info` are not there, even though the expectation is that they should.

The problem seems to be that the root logger is not a `FancyLogger` instance after importing `fancylogger`, but it should be?

[code]

[2016-12-14 14:24] JensTimmerman commented on #244
can you create a minimal script with the bug in it?

[2016-12-14 14:30] JensTimmerman commented on #244
Because it's not really clear to me what your bug report is?

Indeed, the fancylogger logger and the root logger are in a different namespace, this is by design as not to accedentally take over other loggers and not accedentaly start logging the logs of subpackages/dependencies.

So if you mean: If I turn on debug using generaloption the logging of my dependencies is not appearing on the screen, t

[2016-12-14 14:35] boegel commented on #244
In that case: @stdweird: how is logging via `logging.debug` ever supposed to work?

Cfr. discussion in https://github.ugent.be/hpcugent/irun/pull/1/files/d357f19394723b98f7dd51603fe62c6de493f9f7#r5567

[2016-12-14 16:28] JensTimmerman commented on #244
There's 2 ways of fixing this:
-  have fancylogger set the global/root log level for all new logs created  (implemented in https://github.com/hpcugent/vsc-base/pull/245 )
- have generaloption set the global/root log level for all new logs created

option 2 will be a bit less invasive, but option 1 covers everything you would want everywhere.

[2016-12-14 16:36] stdweird commented on #244
@JensTimmerman the problem remains that the root logger is not a fancylogger, and in particular, that `logging.error/info/warn/...` do not use a fancylogger

i tought that was the whole point; we are actully using only `logging` in some modules

option 2 is more than enough imho

[2016-12-14 16:47] JensTimmerman commented on #244
that is true, if you want some fancy things like mpi ranks you need to still make a fancylogger, but by default logging should be enought.

option 2 implemented in https://github.com/hpcugent/vsc-base/pull/246

[2016-12-14 16:52] stdweird commented on #244
increasing the loglevel is not enough, also the handler incl format have to be adapted. eg the destination of the rootlogger has to be the same as the fancylogger, something i do not consider "fancy".

[2017-01-30 17:38] JensTimmerman commented on #244
should be fixed by https://github.com/hpcugent/vsc-base/pull/248

[2017-01-31 16:39] #244 closed

[2017-01-31 18:23] boegel commented on #244
Confirmed (but requires `setroot()` or `SETROOTLOGGER = True` in the `GeneralOption` derivate (which is fine):

[code]

[2017-02-22 08:07] itkovian commented on #231
Well, since we are now at CO7.3, I think we can just drop all things 2.6 and move to 2.7/3.x+?

[2017-02-22 08:11] boegel commented on #231
Maybe we should discuss this again during team meeting, I think we really need to starting working towards Py3 compatibility (although it shouldn't be our biggest concern), since it'll be a long-term effort.

@JensTimmerman ?

[2017-02-22 08:14] stdweird commented on #231
why did this become suddenly more urgent?

[2017-02-22 08:59] boegel commented on #231
It's not suddenly more urgent, but more and more projects are switching to Python3 only (e.g. Django 1.11 is the last release that will support Python2), and we don't even support Python3 yet (although I guess that's only an issue for outward facing tools like EasyBuild).
At some point this will become a real problem for EasyBuild, where we have optional dependencies on a bunch of 3rd party librar

[2017-02-22 09:07] stdweird commented on #231
yes, we have other work which is being delayed or still not finished for way too long, affecting other projects. there's noone in our team who can have time for this. (and if they think they have, they should have a chat with me, i'll be glad to show them how jira works and how they can assign tickets to themself 😄 )

and maybe python3 will become the default, but python2 will not dissapear. stop

[2017-02-22 12:57] JensTimmerman commented on #231
Nothing has changed to the above plan, adding more errors in pylint and run futurize stage1 as one of the tests run by vsc-install is still the way to go forward, as long as nobody has looked into that we shouldn't really worry about what to do next.
But yes, getting rid of python2.6 was step one here.

[2017-11-19 11:04] holstgr-kaust opened #252 "Log rotation failure originating from fancylogger"
The log rotation functionality in fancylogger appears to be broken.  When log files are rotated, the existing writer ends up with a stale file handle.

For example, this appears as a log rotation failure issue in EasyBuild:
https://github.com/easybuilders/easybuild-framework/issues/1094

[code]

Changing line:

to:

Is a hacky, but effective fix.

[2017-11-19 13:47] stdweird commented on #252
@holstgr-kaust how does it fix it? it just disables the logrotation, no?

[2017-11-19 13:53] stdweird commented on #252
@holstgr-kaust @boegel anyhow, this is an issue with python logging, and not (only) with fancylogger.
i advise to support disabling (or disabke al together) the logrotation in EB. `fancylogger.logToFile` calls support the max_bytes paramter, set it to 0 in eg https://github.com/easybuilders/easybuild-framework/blob/25bd8222bb6569f33f721f5cf4199e1f9aa7fd6e/easybuild/tools/build_log.py#L183 (there's

[2017-11-19 14:01] holstgr-kaust commented on #252
Yes, it just disables the log rotation feature (which doesn't work anyway, so it seemed like a safe place to change). Thank you for the EB suggestions too.

[2017-11-19 14:04] stdweird commented on #252
@holstgr-kaust for completeness, can you post the logfile destination and permissions on th eparent dir? i'm a bit intregued by the permission error. it's a bit odd to get one from a rename

[2017-11-20 09:50] boegel commented on #252
Log rotation is being disabled in EasyBuild via https://github.com/easybuilders/easybuild-framework/pull/2347.

[2017-11-20 09:55] holstgr-kaust commented on #252
@stdweird
 just did a fresh build with EasyBuild v3.4.1.  The build command, performed by the `bldr` user, in their home directory, was*:
[code]

The rollover errors still appeared (during build phase), but EB now appears to be able to continue the build to successful installation:

[code]

Full listings of the buildlog and buildtmp directories show the following permissions (bldr user owns the fi

[2017-12-18 09:56] itkovian opened #253 "Turning off logging to stdout requires specific order"
Statement order:
[code]

yields:

[code]

Statement order
[code]

yields

[code]

[2018-06-04 15:49] boegel opened #268 "tests for rest.py fail in Travis because of API rate limiting"
[code]

We can fix this by using a GitHub token in Travis, and skip the tests that require a token when the token is missing (token will never be available when testing PRs because of security reasons).

[2019-07-05 12:39] boegel opened #282 "import of fancylogger module fails with Python 3.7"
For some reason I thought we had already ported `vsc-base` to Python 3, but it seems like I'm mis-remembering that... Some progress was made in #280, but it's definitely not complete.

[code]

[2019-07-05 13:01] stdweird commented on #282
vsc-install and vsc-base are not supported on py3 atm

[2019-07-05 13:36] boegel commented on #282
@stdweird Yeah, I forgot about that after ingesting what we need in EasyBuild and porting stuff there. ;)

[2020-02-03 09:33] Flamefire commented on #232
Having tags would also help for seeing when a particular change was introduced and which versions already contain it

[2020-03-29 11:39] #235 closed

[2020-04-02 17:35] boegel opened #297 "UnicodeDecodeError in RunNoShellAsyncLoop._read_process"
Example:

[code]

I'll look into reproducing this in a test, and fixing, looks like this was introduced in #287

[2020-04-22 08:33] #297 closed

[2020-09-30 09:42] MatthiasCoppens opened #304 "vsc.utils.run:run behaves weirdly when command contains empty string"
When running a command that's a list that contains an empty string, `run` appears to cut off the command at the empty string.
I'd expect `run(command)` to do the same as `run([word for word in command if word])`.

[2020-09-30 11:07] stdweird commented on #304
empty string is passed as empty arg, nothing else
what were you running?

[2020-09-30 11:52] boegel commented on #304
@stdweird The value of the `--pass` option was blindly being added to the backend command in jobcli (that's being fixed in https://github.com/hpcugent/jobcli/pull/157).

I told @MatthiasCoppens to open an issue here too on this though, since we should probably disallow empty string values being passed in the list to `run`?

[2020-09-30 11:54] stdweird commented on #304
why would we not allow that? empty args do occur and typically have meaning.

[2020-09-30 12:33] boegel commented on #304
Right, ok. In this case it was a bug in `jobcli` then, so closing.

[2020-09-30 12:33] #304 closed

[2021-02-24 08:32] wpoely86 opened #307 "Config values with --foo fails from config file"
In generatoptions, it works if you do `--foo=--bar` but if you have a config file with the same contents:
[code]

it will fail. You have to quote it but those don't get stripped.

[2021-02-24 08:45] stdweird commented on #307
is that generaloption or configparser?

[2021-02-24 08:49] wpoely86 commented on #307
Not sure what you mean? It's generaloption that complains about it but I don't yet fully understand how it works.

[code]

[2021-02-24 08:51] wpoely86 commented on #307
I guess the issue is:
[code]
vs
[code]

So I have to let the options from configparse be added to 'commandline' in a different way

[2021-02-24 08:55] stdweird commented on #307
it probably misassembles the commandline to test. i can look at it if you don't find it

[2021-02-24 09:12] #307 closed

[2021-03-10 13:59] kwaegema opened #310 "daemonize does not work with Py3"
backupsync stopped working
[code]

[2021-03-10 15:36] boegel commented on #310
So the question is whether it really need to be unbuffered. If so, we need to use `ba+`. If not, we can just drop the `0`.

As @wdpypere pointed out, this problem was introduced (in some sense, since it still works for Python 2 afaik?) in c5c748109ff6d27e7647e4ed285b760eba781f3c, and we overlooked breaking it because there's no tests (or not enough) covering the code in `daemon.py`.

[2021-04-03 11:26] wdpypere commented on #233
I ran into this issue and I agree with @JensTimmerman on this. We should deprecate raiseException and start logging deprecation warnings.

[2021-04-03 11:28] wdpypere commented on #233
if we don't deprecate it, it should work like all logger functions.

the quick example is:
[code]

[2021-04-03 11:51] stdweird commented on #233
@wdpypere the problem is that people will only raise the exception (which doesn't support the lazy passing of args), and not log, and this makes most of the exceptions problematic to debug.

[2021-04-03 12:13] wdpypere commented on #233
I see the issue, but there is nothing preventing users from doing `try ... except Exception ... pass` either, which is arguably even worse. I don't know how far we want to/should go to protect people of shooting themselves in the foot.

 but then raiseException should at least work as all the other logging functions.  I'll have a go at it.

[2021-04-03 12:41] wdpypere commented on #233
looking at it, its (as expected) a quite complex problem. As I can see in our code there are 2 main uses for raiseException:

 1. from inside an except block when there is already an Exception
 2. when one wants to create an exception

If we really want to maintain a hybrid error/log thing I would do the same as python itself does it. logging.exception is no more than:
[code]

we could do that wit

[2021-04-03 12:44] stdweird commented on #233
i wouldn't spend too much time on it
i just think that having a method for it is better than the all the copy paste, but this breadks the upstream logging module and somewhat hides raises.

but i'm ok with deprecating it.

[2021-05-04 20:32] stdweird opened #314 "replace affinity module with python- schedutils"